<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                [%d{HH:mm:ss}] [%-30thread] [%-5level] [%-30logger{0}][%-4L] - %msg%n
            </pattern>
        </layout>
    </appender>

    <logger name="com.alibaba.rocketmq" additivity="false">
        <level value="debug" />
        <appender-ref ref="stdout" />
    </logger>
    <root level="info">
        <appender-ref ref="stdout" />
    </root>

</configuration>
